# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# Android
android/app/burkina.jks
android/key.properties
android/.gradle/
android/local.properties

# Firebase
google-services.json
GoogleService-Info.plist
lib/firebase_options.dart

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
